# VoteXpert Frontend Environment Configuration

# Backend API
VITE_API_BASE_URL=https://4yqf9s94k0.execute-api.us-east-1.amazonaws.com/dev

# Cognito
VITE_COGNITO_CLIENT_ID=3plqrtju10oh6k01envqctiisg
VITE_COGNITO_REGION=us-east-1

# App environment
VITE_APP_ENV=development
